@rendermode InteractiveServer


<div class="my-3 border-top border-button d-flex p-3" style="max-width: auto;">

    <div class="me-auto d-flex">
        <img src="@ShoppingCartProduct.product.ImgURL" alt="..." style="border: 1px solid #ddd;
                                                                    border-radius: 4px;
                                                                    padding: 5px;
                                                                    width: 150px;">
        <div class="ms-3 mt-3">
            <a href="product/@ShoppingCartProduct.product.Id"><h5>@ShoppingCartProduct.product.Name</h5></a>
            <p class="text-muted">Product number: @ShoppingCartProduct.product.ProductNumber</p>
            <p class="text-muted">Quantity: @ShoppingCartProduct.quantity</p>
        </div>
    </div>
    @if (ShoppingCartProduct.product.DiscountPercent is not null)
    {
        @if (ShoppingCartProduct.quantity == 1)
        {
            <div class="row text-end">
                <p class="card-text fs-6 text-danger"><strong>@ShoppingCartProduct.product.DiscountPrice.GetValueOrDefault().ToString("F") USD</strong></p>
            </div>
        }
        else
        {
            <div class="row text-end">
                <p class="card-text fs-6"><strong>@((ShoppingCartProduct.product.DiscountPrice.GetValueOrDefault() * ShoppingCartProduct.quantity).ToString("F")) USD</strong></p>
            </div>
        }
    }
    else
    {
        @if (ShoppingCartProduct.quantity == 1)
        {
            <div class="row text-end">
                <p class="card-text fs-6"><strong>@ShoppingCartProduct.product.Price USD</strong></p>
            </div>
        }
        else
        {
            <div class="row text-end">                  
                <p class="card-text fs-6"><strong>@(ShoppingCartProduct.product.Price * ShoppingCartProduct.quantity) USD</strong></p>
            </div>
        }
    }
</div>


@code {
    [Parameter]
    public (Product product, int quantity) ShoppingCartProduct { get; set; } = new();

    [Parameter]
    public bool AddOpacity { get; set; } = false;   
}


